@use './common_rules.scss' as *;

main {
    height: calc((100vh - 78px) - 175px);
    overflow-y: auto;
}

div.brand {
    color: $text_brand
}

span.date {
    color: $text_brand;
    font-size: 0.75rem;
}

.over_info {
    position: absolute;
    z-index: 10;
}

.description {
    cursor: pointer;
}


div.like,
span.discount,
span.eco {
    position: absolute;
    z-index: 10;
}

div.like {
    right: 0;
    font-size: 2rem;
    background-color: #fff;
    padding: 0.5rem 1rem 0.25rem 1rem;
    cursor: pointer;
}
div.modalLike, div.cart{
    bottom: 3rem;
    right: 3rem;
    background-color: rgba(255, 0, 0, 0.085);
    font-size: 1.75rem;
    border: 5px solid red;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
}
div.cart{
    right: 35%;
    border: 5px solid rgb(0, 128, 0,);
    background-color: rgba(0, 128, 0, 0.085);

}


.card_modal {
    background-color: rgb(253, 249, 249);
    border-radius: 50px;
    position: fixed;
    z-index: 999;
    top: 10%;
    left: 18%;
    width: 63%;
    padding: 3rem;

    .textMod{
        margin: 2rem 0 0 2rem;
        width: 70%;
        .nameMod{
            font-size: 4rem;
            color: orange;
        }
        .brandMod{
        margin-top: 0.5rem;
        font-size: 2.5rem;
        font-style: italic;
        }
        .priceMod{
            position: absolute;
            right: 3rem;
            font-size: 2rem; 
            bottom: 10rem;
        }
        .descriptionTextMod{
            margin-top: 2rem;
            font-size: 1.25rem;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        span.newpriceMod{
            font-size: 3rem ;
            color: red;
            margin-right: 1rem;
        }    
    }   

    .image_box{
        width: 30%;
        display: flex;
        flex-direction: column;
        img{
            width: 100%;
        }
        .frontMod{
            border-top-left-radius: 30px;
        }
        .backMod{
            border-bottom-left-radius: 30px;
        }
    }

    .modal_btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
        border: none;
        background-color: transparent;
        font-size: 2rem;
        font-weight: bolder;
    }
}

span.discount {
    bottom: 6rem;
    left: 0;
    color: white;
    background-color: $danger_ban;
    padding: 0.5rem;
}

span.eco {
    left: 4rem;
    bottom: 6rem;
    color: #fff;
    background-color: $success_ban;
    padding: 0.5rem;
}

span.eco.noDiscount {
    left: 0;
}

div.hearts.active {
    color: $danger_text;
    font-weight: bold;
    max-width: 334px;
}