@use './common_rules.scss' as *;

main {
    height: calc((100vh - 78px) - 175px);
    overflow-y: auto;
}

div.brand {
    color: $text_brand
}

span.newprice {
    color: $danger_text;
    font-size: 0.75rem;
}

span.oldprice.noDiscount {
    text-decoration: line-through;
}


.over_info {
    position: absolute;
    z-index: 10;
}

.description{
    cursor: pointer;
}


div.like,
span.discount,
span.eco {
    position: absolute;
    z-index: 10;
}

div.like {
    top: 0.5rem;
    right: 0;
    font-size: 2rem;
    background-color: #fff;
    padding: 0.5rem 1rem 0.25rem 1rem;
    cursor: pointer;
}

.card_modal{
    width: 30vw;
    height: 30vh;
    background-color: rgba(128, 128, 128, 0.272);
    border-radius: 50px;
}

span.discount {
    bottom: 6rem;
    left: 0;
    color: white;
    background-color: $danger_ban;
    padding: 0.5rem;
}

span.eco {
    left: 4rem;
    bottom: 6rem;
    color: #fff;
    background-color: $success_ban;
    padding: 0.5rem;
}

span.eco.noDiscount {
    left: 0;
}

div.hearts.active {
    color: $danger_text;
}