@use './common_rules.scss' as *;

// .container {
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     gap: 2rem;
//     width: 95%;
//     padding: 3rem 0;
// }

// aside.model {
//     width: 25%;
//     position: relative;
// }

div.brand {
    color: $text_brand
}

span.newprice {
    color: $danger_text;
    font-size: 0.75rem;
}

span.oldprice.noDiscount{
    text-decoration: line-through;
}

// img.to_hover {
//     position: absolute
// }

// aside.model:hover img.to_hide {
//     position: relative;
//     z-index: 2
// }

.over_info {
    position: absolute;
    z-index: 10;
}

div.like,
span.discount,
span.eco {
    position: absolute;
    z-index: 10;
}

div.like {
    top: 0.5rem;
    right: 0;
    font-size: 2rem;
    background-color: #fff;
    padding: 0.5rem 1rem 0.25rem 1rem;
}

span.discount {
    bottom: 6rem;
    left: 0;
    color: white;
    background-color: $danger_ban;
    padding: 0.5rem;
}

span.eco {
    left: 4rem;
    bottom: 6rem;
    color: #fff;
    background-color: $success_ban;
    padding: 0.5rem;
}

span.eco.noDiscount{
    left: 0;
}

// .btm-right span.eco {
//     left: 0;
//     bottom: 6rem;
//     color: #fff;
//     background-color: $success_ban;
//     padding: 0.5rem;
// }

/* region Bonus */

div.hearts:hover div {
    color: $danger_text;
}

/* #endregion Bonus */