$header_color: rgba(0, 0, 255, 0.246);
$margin_default: 0;
$text_light: #fff;
$text_brand: #808080;
$danger_text: red;
$danger_ban: red;
$success_ban: green;


* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    max-width: 100%;
}

.blur{
    filter: blur(5px);
}
.no-blur{
    filter: blur(0);
}

